//Copyright (C)2014-2020 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//GOWIN Version: 1.9.7 Beta
//Part Number: GW1N-LV1QN48C6/I5
//Device: GW1N-1
//Created Time: Fri 02 12 22:46:40 2021

IO_LOC "AAH8[7]" 38;
IO_PORT "AAH8[7]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "AAH8[6]" 39;
IO_PORT "AAH8[6]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "AAH8[5]" 40;
IO_PORT "AAH8[5]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "AAH8[4]" 41;
IO_PORT "AAH8[4]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "AAH8[3]" 42;
IO_PORT "AAH8[3]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "AAH8[2]" 43;
IO_PORT "AAH8[2]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "AAH8[1]" 44;
IO_PORT "AAH8[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "AAH8[0]" 45;
IO_PORT "AAH8[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "wr_n" 21;
IO_PORT "wr_n" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "typ" 20;
IO_PORT "typ" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "cmd_n" 17;
IO_PORT "cmd_n" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "cs_n" 18;
IO_PORT "cs_n" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "ale_n" 16;
IO_PORT "ale_n" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_PORT "busclk" IO_TYPE=LVCMOS33;
IO_LOC "irq_n" 10;
IO_PORT "irq_n" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "rdy_n" 11;
IO_PORT "rdy_n" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "sysrst_n" 15;
IO_PORT "sysrst_n" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "sysclk" 35;
IO_PORT "sysclk" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "AD8[7]" 34;
IO_PORT "AD8[7]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "AD8[6]" 33;
IO_PORT "AD8[6]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "AD8[5]" 32;
IO_PORT "AD8[5]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "AD8[4]" 31;
IO_PORT "AD8[4]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "AD8[3]" 30;
IO_PORT "AD8[3]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "AD8[2]" 29;
IO_PORT "AD8[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "AD8[1]" 28;
IO_PORT "AD8[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "AD8[0]" 27;
IO_PORT "AD8[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
